@font-face {
    font-family: 'dana';
    src: url(../fonts/Dana/woff2/DanaFaNum-Medium.woff2) format('woff2')
}

@font-face {
    font-family: 'moraba';
    src: url(../fonts/Morabba/woff2/Morabba-Medium.woff2) format('woff2')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'dana';
}

body {
    overflow-x: hidden !important;
}

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 10px;
}

.moraba {
    font-family: 'moraba';
}